 /* body {
  background: #ccf2ff;
}    */

.jumbotron {
  background: url(../images/free-old-paper-textures-and-parchment-paper-backgrounds-www-2.jpg)
}

body {
  background: url(../images/free-old-paper-textures-and-parchment-paper-backgrounds-www-2.jpg)
}

.radio {
  font-weight: 600;
}

p {
  font-size: 1.3em;
  font-weight: 600;
}

.jumbotron {
  border-radius: 0px;
}